body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #504646;
    color: #fff;
  }
  
  .introduction-container {
    text-align: center;
    padding: 50px 20px;
    background-color: #2b2b2b;
  }
  
  .intro-header h1 {
    font-size: 24px;
    color: #d47c98;
    margin-bottom: 10px;
  }
  
  .intro-header h2 {
    font-size: 36px;
    margin: 10px 0;
  }
  
  .intro-header p {
    font-size: 18px;
    margin: 20px 0;
    color: #ccc;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    color: #8e95ee;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #fff;
  }
  
  .intro-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .intro-image {
    flex: 1;
  }
  
  .profile-pic {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
  }
  
  .intro-text {
    flex: 2;
    padding: 20px;
    text-align: left;
  }
  
  .intro-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
  }
  
  .intro-text p:first-child {
    margin-bottom: 20px;
  }
  