/* .content-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
   */
  h2 {
    font-size: 1.8rem;
    color: #0a0a0a;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h3 {
    font-size: 1.4rem;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .goals-list {
    margin-bottom: 20px;
  }
  
  .goal-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #755959;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .check-icon {
    color: #28a745;
    font-size: 1.2rem;
    margin-right: 10px;
  }
  
  p {
    font-size: 1rem;
    color: #f3efef;
    margin: 0;
  }
  